<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.tdt.appstudent2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".actitities.dangnhap.DangnhapActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".actitities.trangchu.TrangchuActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".actitities.thongbao.ThongbaoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".actitities.thongbao.ThongbaoWebviewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".actitities.hocphi.HocphiActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".actitities.diem.DiemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actitities.tkb.TkbActivity"
            android:screenOrientation="portrait"
            android:icon="@mipmap/ic_calendar"
            android:label="@string/app_name_calendar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".actitities.email.EmailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".actitities.email.EmailViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".actitities.hdpt.HdptActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".actitities.email.EmailWebActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".actitities.lichthi.LichThiActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".actitities.chat.ChatActivity"
            android:theme="@style/AppThemeChat"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.CheckEmailService"
            android:exported="false" />
        <service
            android:name=".service.CheckNewsService"
            android:exported="false" />
        <receiver android:name=".service.Receiver.RestartAlarmsReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>